$sans_pro_family:  'Source Sans Pro', sans-serif;
$sans_pro_lightweight: 300; 
$sans_pro_midweight: 600;
$sans_pro_heavyweight: 700; 

$raleway_family: 'Raleway', sans-serif;
$raleway_lightweight: 600;
$raleway_heavyweight: 800;

$h2_letter_spacing: 4px;